@import "~@angular/material/theming";

ul li {
  list-style: none;
}

.header-container {
  margin-bottom: 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  @include mat-elevation(8);
}
.profile-picture {
  border-radius: 50%;
  width: 4vh;
}
