<div class="header-container" role="heading" [class.mat-elevation-z8]>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <img
        src="assets/app_logo_white.png"
        alt="IReNE Logo"
        style="width: 4vw;"
      />
      <span>
        Interdisciplinary Research Network Extension | TellSpace
      </span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button
              mat-raised-button
              matTooltip="Collaborator Options"
              [matMenuTriggerFor]="menu2"
              *ngIf="router.url !== '/login'"
            >
              <mat-icon>person_outline</mat-icon>
              {{ collaborator_name }}
            </button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item (click)="navigateToDashBoard()">
                <mat-icon>dashboard</mat-icon>
                My Documents
              </button>
              <button mat-menu-item (click)="navigateToProfile()">
                <mat-icon>person_outline</mat-icon>
                Profile
              </button>
              <button (click)="logout()" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sign out
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
