<div class="header-container" role="heading" [class.mat-elevation-z8]>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button
        mat-button
        [matMenuTriggerFor]="menu1"
        *ngIf="router.url !== '/login'"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="navigateToDashBoard()">
          <mat-icon>dashboard</mat-icon>
          My Documents
        </button>
      </mat-menu>
      <span>
        IReNE | TellSpace
      </span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu2"
              *ngIf="router.url !== '/login'"
            >
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sign out
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
