:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.image-container {
  padding-top: 25vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
