table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  background: #ffc107;
}

div:hover .show-on-hover {
  visibility: visible;
}

div .show-on-hover {
  visibility: hidden;
}

.action {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row;
  align-items: baseline;

  padding: 0;
  margin: 0;
  list-style: none;
}
