<ng-container *ngIf="!isLoading && !isEmpty">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
        {{
          element.title.length > 100
            ? (element.title | slice: 0:100) + "..."
            : element.title
        }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Published</th>
      <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
        {{ true == element.published ? "Yes" : "No" }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="incident_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Incident Date</th>
      <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
        {{ element.incident_date | date: "MM/dd/yyyy" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.creationDate | date: "MM/dd/yyyy" }}
        <button
          mat-button
          isRoundButton="true"
          matTooltip="Delete Case Study"
          (click)="removeDocument(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<mat-card
  *ngIf="isLoading"
  style="display: flex; justify-content: center; align-items: center;"
>
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

<div *ngIf="isEmpty && !isLoading" class="no-cases-message">
  <h1>Create a new case study</h1>
  <h3>A case study helps you share your findings with the world.</h3>
  <h4>You can start by pressing the + button above</h4>
</div>
