<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
      {{ element.title }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Published</th>
    <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
      {{ element.published }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="incidentDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Incident Date</th>
    <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
      {{ element.incidentDate }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
    <td mat-cell *matCellDef="let element" (click)="editDocument(element)">
      {{ element.creationDate }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
