table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  background: #ffc107;
}

.action {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
  list-style: none;
}