<!--Template for document creation form. Alberto Canela (alberto.canela@upr.edu-->
<button mat-icon-button class="dialog-close-button" (click)="cancelAndClose()">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 mat-dialog-title>Create Case Study</h1>
<div mat-dialog-content>
  <form
    class="create-form"
    [formGroup]="createDocumentForm"
    (ngSubmit)="onSubmit()"
  >
    <h3>I. Case Study Language</h3>
    <p>Select the main language for the case study text.</p>
    <div id="language-radio-field">
      <label>Case Study Content Language:&ensp;</label>
      <mat-radio-group
        aria-label="Select a case language"
        formControlName="language"
      >
        <mat-radio-button value="English">English</mat-radio-button>
        <mat-radio-button value="Spanish">Spanish</mat-radio-button>
      </mat-radio-group>
    </div>
    <h3>II. Case Study Title</h3>
    <p>
      Title must begin with uppercase letter and have at least 10 characters.
      Only alphanumeric characters are allowed.
    </p>
    <mat-form-field class="full-width">
      <input
        #titleInput
        matInput
        formControlName="title"
        name="title"
        maxlength="50"
        minlength="10"
        placeholder="Case Study Title"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error *ngIf="createDocumentForm.controls['title'].invalid"
        >Title has invalid characters or has not reached the minimum length of
        10.
      </mat-error>
      <mat-hint>
        Max 50 chars. ({{ 50 - (titleInput.value?.length || 0) }} chars
        remaining)</mat-hint
      >
    </mat-form-field>

    <h3>III. Incident Date</h3>
    <p>Most significant date referenced in the new case study.</p>
    <mat-form-field hintLabel="MM/DD/YYYY" color="primary">
      <mat-label>Incident Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="incident_date"
        name="incident_date"
        [max]="maxDate"
        [min]="minDate"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="createDocumentForm.controls['incident_date'].invalid"
        >Date must be formated as MM/DD/YYYY
      </mat-error>
    </mat-form-field>

    <h3>IV. Infrastructure and Damage Type</h3>
    <p>
      Select at least one infrastructure and one damage type that describe the
      case study
    </p>
    <mat-form-field>
      <mat-label>Infrastructure Type</mat-label>
      <mat-select
        formControlName="infrastructure_type"
        multiple
        [errorStateMatcher]="matcher"
        required
      >
        <mat-option
          *ngFor="let infra_type of infrastructureList"
          [value]="infra_type"
          >{{ infra_type }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Damage Type</mat-label>
      <mat-select
        formControlName="damage_type"
        multiple
        [errorStateMatcher]="matcher"
        required
      >
        <mat-option *ngFor="let dtype of damageTypeList" [value]="dtype">{{
          dtype
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <h3>V. Case Study Authors</h3>
    <p>
      Provide the name of the people who contributed to this case study. A case
      study can have up to 10 authors. All authors must have a valid upr email
      address. Names must begin with uppercase and consist of letters or dashes.
    </p>
    <div formArrayName="authors" class="container">
      <div
        *ngFor="
          let author of createDocumentForm.get('authors')['controls'];
          let i = index
        "
      >
        <div [formGroupName]="i">
          <mat-card>
            <mat-form-field class="full-width">
              <mat-label>Author {{ i + 1 }} Name</mat-label>
              <input
                formControlName="first_name"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Author {{ i + 1 }} Lastname</mat-label>
              <input
                formControlName="last_name"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
                required
              />
            </mat-form-field>
            <br />
            <mat-form-field class="full-width">
              <mat-label>Author {{ i + 1 }} Email</mat-label>
              <input
                matInput
                #Email
                placeholder="irene.riseup@upr.edu"
                formControlName="email"
                maxlength="70"
                [errorStateMatcher]="matcher"
                required
              />
              <mat-error
                *ngIf="createDocumentForm.controls['authors'].invalid"
                >{{ getEmailErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Author {{ i + 1 }} Faculty</mat-label>
              <input
                formControlName="faculty"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
                required
              />
            </mat-form-field>
            <button
              *ngIf="i != 0"
              (click)="removeAuthor(i)"
              mat-icon-button
              matTooltip="Remove this author"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      *ngIf="createDocumentForm.get('authors')['controls'].length < AUTHORS_MAX"
      color="primary"
      type="button"
      (click)="addAuthor()"
    >
      Add another author
    </button>

    <br />

    <h3>VI. Case Study Actors</h3>
    <p>
      Provide the name of the people who are represented or play a significant
      role on the case study. A case study can have up to 5 actors. Names must
      begin with uppercase and consist of letters or dashes.
    </p>

    <div formArrayName="actors" class="container">
      <div
        *ngFor="
          let actor of createDocumentForm.get('actors')['controls'];
          let i = index
        "
      >
        <div [formGroupName]="i">
          <mat-card>
            <mat-form-field class="full-width">
              <mat-label>Actor {{ i + 1 }} Name</mat-label>
              <input
                formControlName="first_name"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
                required
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Actor {{ i + 1 }} Lastname</mat-label>
              <input
                formControlName="last_name"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
            <br />
            <mat-form-field class="full-width">
              <mat-label>Actor {{ i + 1 }} Role</mat-label>
              <input
                formControlName="role"
                matInput
                maxlength="30"
                [errorStateMatcher]="matcher"
                required
              />
            </mat-form-field>

            <button
              *ngIf="i != 0"
              (click)="removeActor(i)"
              mat-icon-button
              matTooltip="Remove Actor"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="createDocumentForm.get('actors')['controls'].length < ACTORS_MAX"
      type="button"
      (click)="addActor()"
    >
      Add another actor
    </button>
    <div mat-dialog-actions>
      <button
        class="full-width"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="createDocumentForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
