.create-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: flex-start;
  width: 40vw;
}

.full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}

.dialog-close-button {
  float: right;
}
