<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div>
      <app-dash-sidebar></app-dash-sidebar>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="title">
      <h1><strong>My Case Studies</strong></h1>
    </div>
    <mat-divider></mat-divider>
    <div>
      <app-doc-table></app-doc-table>
    </div>
    <div class="new-button">
      <button mat-fab (click)="drawer.toggle()" matTooltip="Create New Case Study">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
