<div class="documents-page">
  <div class="title">
    <h2>
      My Case Studies
    </h2>
    <div #changeButton class="new-button" id="create-doc-button">
      <button
        *ngIf="!loading"
        mat-button
        (click)="promptNewDocumentForm()"
        matTooltip="Create New Case Study"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!loading" class="no-cases-message">
    <h1>You have {{ docs.length }} case studies</h1>
    <h3>Create up to 10 case studies to share your findings with the world.</h3>
    <h4>You can start by pressing the + button above</h4>
  </div>
  <mat-divider></mat-divider>

  <app-doc-table></app-doc-table>

  <mat-card
    *ngIf="loading"
    style="display: flex; justify-content: center; align-items: center;"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
