<mat-card>
  <mat-card-content>
    <h3>Locations</h3>
    <div *ngIf="editingLocations; else elseBlock3A">
      <mat-form-field
        hintLabel="Add up to 5 Puerto Rico towns. (City, PR)"
        style="width: 100%;"
      >
        <mat-chip-list #chipList aria-label="locations editing">
          <mat-chip
            *ngFor="let local of locations"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(local)"
          >
            {{ local }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Type Locations Here And Hit Enter"
            maxlength="20"
            #tagInput
            [formControl]="locationsControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let local of filteredLocationsList | async"
            [value]="local"
          >
            {{ local }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">{{ locations.length || 0 }}/5</mat-hint>
      </mat-form-field>
    </div>
    <ng-template #elseBlock3A>
      <ng-container *ngIf="locations.length == 0">
        <p>
          No locations are associated with this case study. Press edit to add.
        </p>
      </ng-container>
      <mat-chip-list>
        <ng-container *ngFor="let local of locations"
          ><mat-chip>{{ local }}</mat-chip></ng-container
        >
      </mat-chip-list>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="editingLocations; else elseBlock3B">
      <button
        mat-raised-button
        type="submit"
        color="accent"
        (click)="saveLocations()"
      >
        Save
      </button>
    </div>
    <ng-template #elseBlock3B>
      <button
        mat-raised-button
        color="primary"
        (click)="toggleLocationsEditor()"
      >
        Edit Locations
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
