<mat-card>
  <h3>Authors</h3>
  <p>Identify up to 10 people who contributed to this case study.</p>
  <form [formGroup]="authorForm">
    <div formArrayName="authors">
      <div
        class="author-container"
        *ngFor="
          let author of authorForm.get('authors')['controls'];
          let i = index
        "
      >
        <div [formGroupName]="i">
          <mat-card class="author-card">
            <mat-form-field class="example-full-width">
              <mat-label>Author {{ i + 1 }} Name</mat-label>
              <input
                [readonly]="!editingAuthors"
                formControlName="author_FN"
                maxlength="30"
                matInput
              />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Author {{ i + 1 }} Lastname</mat-label>
              <input
                [readonly]="!editingAuthors"
                formControlName="author_LN"
                maxlength="30"
                matInput
              />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Author {{ i + 1 }} Email</mat-label>
              <input
                matInput
                placeholder="irene.riseup@upr.edu"
                formControlName="author_email"
                maxlength="70"
                [readonly]="!editingAuthors"
              />
              <mat-error *ngIf="authorForm.controls['authors'].invalid">{{
                getEmailErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Author {{ i + 1 }} Faculty</mat-label>
              <input
                formControlName="author_faculty"
                maxlength="30"
                matInput
                [readonly]="!editingAuthors"
              />
            </mat-form-field>
            <button
              *ngIf="
                editingAuthors &&
                authorForm.get('authors')['controls'].length > AUTHORS_MIN
              "
              (click)="removeAuthor(i)"
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      mat-raised-button
      *ngIf="
        editingAuthors &&
        authorForm.get('authors')['controls'].length < AUTHORS_MAX
      "
      color="primary"
      type="button"
      (click)="addAuthor()"
    >
      Add anther author
    </button>
  </div>
  <mat-card-actions>
    <div *ngIf="editingAuthors; else elseBlock">
      <button
        mat-raised-button
        color="accent"
        (click)="saveAuthors()"
        type="submit"
        [disabled]="authorForm.invalid"
      >
        Save Authors
      </button>
    </div>
    <ng-template #elseBlock>
      <button
        mat-raised-button
        color="primary"
        (click)="toggleEditingAuthors()"
      >
        Edit Authors
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
