<mat-card>
  <h3>Description</h3>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="save()">
      <mat-form-field hintLabel="Max 250 characters" style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea
          #input
          matInput
          cdkTextareaAutosize
          maxlength="250"
          [readonly]="isNotEditing"
          [formControl]="descriptionFormControl"
          >{{ description }}</textarea
        >
        <mat-hint align="end">{{ input.value?.length || 0 }}/250</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="isNotEditing; else elseBlock">
      <button mat-raised-button color="primary" (click)="editDescriptionToggle()">
        Edit Description
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-raised-button type="submit" color="primary" (click)="save()">
        Save
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
