<mat-card>
  <h3>Description</h3>
  <mat-card-content>
    <p *ngIf="isNotEditing; else Editor">{{ description }}</p>
    <ng-template #Editor>
      <form #form="ngForm" (ngSubmit)="save()">
        <mat-form-field hintLabel="Max 500 characters" style="width: 100%;">
          <mat-label>Description</mat-label>
          <textarea
            #input
            matInput
            cdkTextareaAutosize
            maxlength="500"
            [readonly]="isNotEditing"
            [formControl]="descriptionFormControl"
          >
            {{ description }}
            </textarea
          >
          <mat-hint align="end">{{ input.value?.length || 0 }}/500</mat-hint>
        </mat-form-field>
      </form>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="isNotEditing; else elseBlock">
      <button
        mat-raised-button
        color="primary"
        (click)="editDescriptionToggle()"
      >
        Edit Description
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-raised-button type="submit" color="accent" (click)="save()">
        Save
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
