<mat-card>
  <h3>Description</h3>
  <mat-card-content>
    <p *ngIf="isNotEditing; else Editor">
      {{ description || "No description is associated with this case study." }}
    </p>
    <ng-template #Editor>
      <form #form="ngForm" (ngSubmit)="save()">
        <mat-form-field style="width: 100%;">
          <mat-label>Description</mat-label>
          <textarea
            #input
            matInput
            cols="70"
            cdkTextareaAutosize
            [readonly]="isNotEditing"
            [formControl]="descriptionFormControl"
          >
            {{ description }}
            </textarea
          >
          <mat-hint align="start"
            >Max 500 characters. ({{
              500 - (input.value?.length || 0)
            }}
            Remaining)</mat-hint
          >
          <mat-error *ngIf="descriptionFormControl.invalid">
            Maximum 500 characters. (<b>{{
              (input.value?.length || 0) - 500
            }}</b>
            too many)
          </mat-error>
        </mat-form-field>
      </form>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="isNotEditing; else elseBlock">
      <button
        mat-raised-button
        color="primary"
        (click)="editDescriptionToggle()"
      >
        Edit Description
      </button>
    </div>
    <ng-template #elseBlock>
      <mat-progress-spinner
        *ngIf="isSaving"
        color="accent"
        mode="indeterminate"
        [diameter]="24"
      ></mat-progress-spinner>
      <button
        *ngIf="!isSaving"
        mat-raised-button
        [disabled]="descriptionFormControl.invalid"
        type="submit"
        color="accent"
        (click)="save()"
      >
        Save
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="primary" (click)="previewOnSearchSpace()">
  View case study on Search Space
</button>
