<!--Documents Options Template for parameter editors. Author: Alberto Canela (alberto.canela@upr.edu)-->
<div class="status-bar">
  <mat-form-field *ngIf="editingTitle" style="width: 60%;" appearance="outline">
    <mat-label>Case Study Title</mat-label>
    <input
      #titleInput
      matInput
      [formControl]="titleControl"
      [readonly]="!editingTitle"
      minlength="10"
    />
    <mat-error
      *ngIf="titleControl.errors != null && titleControl.errors.minlength"
      >Title must have at least 10 characters</mat-error
    >
    <mat-error
      *ngIf="titleControl.errors != null && titleControl.errors.maxlength"
      >Max 50 characters (<b>{{ (titleInput.value?.length || 0) - 50 }}</b> too
      many)</mat-error
    >
    <mat-error
      *ngIf="titleControl.errors != null && titleControl.errors.pattern"
      >Title has invalid characters or does not follow format</mat-error
    >
    <mat-hint>
      Min 10 chars. Max 50 chars. Title must start with Uppercase. ({{
        50 - (titleInput.value?.length || 0)
      }}
      chars remaining)
    </mat-hint>
  </mat-form-field>

  <ng-container *ngIf="!editingTitle">
    <h2>Case Title: {{ doc.title }}</h2>
  </ng-container>

  <div *ngIf="editingTitle">
    <mat-progress-spinner
      *ngIf="titleloading"
      color="accent"
      mode="indeterminate"
      [diameter]="24"
    ></mat-progress-spinner>
    <button
      *ngIf="!titleloading"
      mat-raised-button
      [disabled]="titleControl.invalid"
      color="accent"
      matTooltip="Save Title"
      (click)="saveTitle()"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <button
    *ngIf="!editingTitle && !titleloading"
    mat-raised-button
    color="primary"
    matTooltip="Edit Case Title"
    (click)="toggleTitleEdition()"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>

<!--Mat Tab group that represents the different parameters that can be edited-->
<mat-tab-group>
  <mat-tab label="Description">
    <ng-template matTabContent>
      <app-description-editor
        [description]="doc.description"
      ></app-description-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tags and Categories">
    <ng-template matTabContent>
      <app-tags-categories-editor
        [tags]="doc.tagsDoc"
        [infrastructures]="doc.infrasDocList"
        [damage_types]="doc.damageDocList"
      ></app-tags-categories-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dates">
    <ng-template matTabContent>
      <app-date-timeline-editor
        [timeline]="doc.timeline"
        [incident_date]="doc.incidentDate"
      ></app-date-timeline-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Locations">
    <ng-template matTabContent>
      <app-locations-editor [locations]="doc.location"></app-locations-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Authors">
    <ng-template matTabContent>
      <app-authors-editor [authors]="doc.author"></app-authors-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Actors">
    <ng-template matTabContent>
      <app-actors-editor [actors]="doc.actor"></app-actors-editor>
    </ng-template>
  </mat-tab>
</mat-tab-group>
