.mat-icon {
  font-size: 20px;
}

.example-full-width {
  width: 100%;
}

ul li {
  list-style: none;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.item-left {
  flex-grow: 2;
}
.item-right {
  flex-grow: 1;
}
