:host {
  padding-left: 20px;
  padding-right: 30px;
}
.mat-icon {
  font-size: 20px;
}

ul li {
  list-style: none;
}

.flex-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.item-left {
  flex-grow: 2;
}
.item-right {
  flex-grow: 1;
}
