<mat-toolbar>
  <mat-toolbar-row>
    <ul class="flex-container">
      <li>
        <span>
          <h1>
            {{ doc.title }}
          </h1></span
        >
      </li>
      <li>
        <button mat-button color="primary" (click)="editTitlePrompt()">
          <mat-icon>edit</mat-icon>
        </button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Description">
    <ng-template matTabContent>
      <app-description-editor
        [description]="doc.description"
      ></app-description-editor>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tags and Categories">
    <ng-template matTabContent>
      <h4>
        Infrastructure Types
        <button mat-button color="primary" (click)="editTitlePrompt()">
          Edit
        </button>
      </h4>
      <mat-chip-list>
        <ng-container *ngFor="let infra_type of doc.infrastructure_type"
          ><mat-chip>{{ infra_type }}</mat-chip></ng-container
        >
      </mat-chip-list>
      <br />
      <mat-divider></mat-divider>
      <br />

      <h4>
        Damage Types
        <button mat-button color="primary" (click)="editTitlePrompt()">
          Edit
        </button>
      </h4>
      <mat-chip-list>
        <ng-container *ngFor="let dtype of doc.damage_type">
          <mat-chip>{{ dtype }}</mat-chip>
        </ng-container>
      </mat-chip-list>

      <br />
      <mat-divider></mat-divider>
      <br />

      <h4>
        Tags
        <button mat-button color="primary" (click)="editTitlePrompt()">
          Edit
        </button>
      </h4>
      <mat-form-field class="example-full-width" floatLabel="never">
        <mat-chip-list #tagList>
          <mat-chip
            *ngFor="let tag of doc.tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag)"
            >{{ tag
            }}<mat-icon matChipRemove *ngIf="removable"
              >cancel</mat-icon
            ></mat-chip
          >
          <input
            *ngIf="removable"
            placeholder="Type new tag here"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dates and Locations">
    <ng-template matTabContent>
      City: {{ doc.location }}
      <button mat-button color="primary" (click)="editTitlePrompt()">
        Edit
      </button>
    </ng-template>
  </mat-tab>
  <mat-tab label="Authors">
    <ng-template matTabContent>
      <h4>
        Authors
        <button mat-button color="primary" (click)="editTitlePrompt()">
          Edit
        </button>
      </h4>
      <ng-container *ngFor="let author of doc.authors">
        <mat-card>{{ author.author_FN }} {{ author.author_LN }}</mat-card>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="Actors">
    <ng-template matTabContent>
      <h4>
        Actors
        <button mat-button color="primary" (click)="editTitlePrompt()">
          Edit
        </button>
      </h4>
      <ng-container *ngFor="let actor of doc.actors">
        <mat-card>{{ actor.actor_FN }} {{ actor.actor_LN }}</mat-card>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
