<mat-nav-list>
  <div class="toolbar">
    <button
      mat-raised-button
      color="accent"
      (click)="navigateToCaseStudyRoot()"
      matTooltip="Case Study Options"
    >
      <mat-icon>settings_icon</mat-icon>
      Case Study Configuration
    </button>
    <p>{{ caseDocument.title }}</p>
    <h4>
      Space used {{ (caseDocument.docsize * 0.000001 || 0).toFixed(2) }} MB of
      16 MB ({{ (caseDocument.docsize / 160000 || 0).toFixed(2) }} %)
    </h4>

    <button
      class="link-button"
      (click)="addSection()"
      *ngIf="caseDocument.section.length < SECTION_MAX"
      color="primary"
      matTooltip="Add a new section to the case study"
      mat-raised-button
    >
      Add New Section
    </button>
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let section of caseDocument.section; let i = index">
    <div>
      <a
        mat-list-item
        routerLinkActive="active-route"
        routerLink="s/{{ i + 1 }}"
      >
        {{
          section.secTitle.length > 35
            ? (section.secTitle | slice: 0:35) + "..."
            : section.secTitle
        }}
      </a>
    </div>
  </ng-container>
</mat-nav-list>
