<mat-nav-list>
  <div class="toolbar">
    <p>
      <button mat-button>
        <h2 mat-subheader>{{ documentVM.title }}</h2>
      </button>
      <button mat-raised-button>Add Section</button>
      <button mat-button [matMenuTriggerFor]="menu3">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          Delete Section
        </button>
      </mat-menu>
    </p>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/edit/33/33"
    >Mock Section</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/edit/33/33"
    >Mock Section</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/edit/33/33"
    >Mock Section</a
  >
  <button mat-raised-button>Configure Timeline</button>
</mat-nav-list>
