.toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

.link-button {
  width: 100%;
}

button {
  white-space: pre-wrap;
}

// When a route is active, background of the list item must be gray
.active-route {
  background-color: grey;

}
