<mat-card class="actor-container">
  <h3>Actors</h3>
  <form [formGroup]="actorForm">
    <div formArrayName="actors">
      <div
        class="actor-container"
        *ngFor="let actor of actorForm.get('actors')['controls']; let i = index"
      >
        <div [formGroupName]="i">
          <mat-card class="actor-card">
            <mat-form-field>
              <mat-label>Actor {{ i + 1 }} Name</mat-label>
              <input
                [readonly]="!editingActors"
                formControlName="actor_FN"
                matInput
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Actor {{ i + 1 }} Lastname</mat-label>
              <input
                [readonly]="!editingActors"
                formControlName="actor_LN"
                matInput
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Actor {{ i + 1 }} Role</mat-label>
              <input
                formControlName="actor_role"
                matInput
                [readonly]="!editingActors"
              />
            </mat-form-field>
            <button
              *ngIf="editingActors"
              (click)="removeActor(i)"
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      mat-raised-button
      *ngIf="editingActors"
      color="accent"
      type="button"
      (click)="addActor()"
    >
      Add Author
    </button>
  </div>
  <mat-card-actions>
    <div *ngIf="editingActors; else elseBlock">
      <button
        mat-button
        color="primary"
        (click)="saveActors()"
        type="submit"
        [disabled]="actorForm.invalid"
      >
        Save
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-button color="primary" (click)="toggleEditingActors()">
        Edit Actors
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
