<div class="section-editor-container">
  <mat-toolbar>
    <mat-toolbar-row class="status-bar">
      <form [formGroup]="titleForm" style="width: 85%;">
        <mat-form-field style="width: 100%;" floatLabel="never">
          <mat-label>Section Title</mat-label>
          <input
            matInput
            formControlName="title"
            name="title"
            placeholder="Untitled Section"
            value=""
          />
        </mat-form-field>
      </form>
      <p *ngIf="isSaved">Saved</p>
      <p *ngIf="!isSaved">Saving...</p>
      <button (click)="deleteSection()" mat-button matTooltip="Delete this section">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar-row></mat-toolbar
  >
  <br />
  <ckeditor
    #editor
    [editor]="Editor"
    [config]="EditorConfig"
    [(ngModel)]="model.editorData"
  ></ckeditor>
</div>
