:host ::ng-deep .ck-editor__editable_inline {
  min-height: 400px;
}

.mat-icon {
  font-size: 20px;
}

.status-bar {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 2vw;
  font-size: 20px;
}

//The following .css is based on code provided in the ckeditor5 documentation for autosave

#snippet-autosave-status_spinner {
  display: flex;
  align-items: center;
  position: relative;
}

#snippet-autosave-status_spinner-label {
  position: relative;
}

#snippet-autosave-status_spinner-label::after {
  content: "Saved!";
  color: green;
  display: inline-block;
}

/* During "Saving" display spinner and change content of label. */
#snippet-autosave-status.busy #snippet-autosave-status_spinner-label::after {
  content: "Saving...";
  color: red;
}

#snippet-autosave-status.busy #snippet-autosave-status_spinner-loader {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-top: 3px solid hsl(0, 0%, 70%);
  border-right: 2px solid transparent;
  animation: autosave-status-spinner 1s linear infinite;
}

@keyframes autosave-status-spinner {
  to {
    transform: rotate(360deg);
  }
}

.cke_top {
  position: sticky;
  top: 0;
}
