<div class="section-editor-container">
  <div class="status-bar">
    <form [formGroup]="titleForm">
      <mat-form-field style="width: 82%;" appearance="outline">
        <mat-label>Section Title</mat-label>
        <input
        matInput
        #title
        formControlName="title"
        name="title"
        minlength="2"
      />
      <mat-error
      *ngIf="title.errors != null && title.errors.minlength"
      >Title must have at least 10 characters</mat-error
    >
    <mat-error
      *ngIf="title.errors != null && title.errors.maxlength"
      >Max 50 characters (<b>{{ (title.value?.length || 0) - 50 }}</b> too
      many)</mat-error
    >
    <mat-error
      *ngIf="title.errors != null && title.errors.pattern"
      >Title has invalid characters or does not follow format</mat-error
    >
    <mat-hint>
      Min 2 chars. Max 50 chars. Title must start with Uppercase. ({{
        50 - (title.value?.length || 0)
      }}
      chars remaining)
    </mat-hint>
      </mat-form-field>
    </form>
    <button
      (click)="deleteSection()"
      mat-button
      color="warn"
      matTooltip="Delete this section"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div id="snippet-autosave-status" class="">
    <div id="snippet-autosave-status_spinner">
      <span id="snippet-autosave-status_spinner-label"></span>
      <span id="snippet-autosave-status_spinner-loader"></span>
    </div>
  </div>
  <ckeditor
    #editor
    (change)="onEditorChange($event)"
    [editor]="Editor"
    [config]="EditorConfig"
    [(ngModel)]="model.editorData"
  ></ckeditor>
  <div>
    Note: to add text above a figure, select the figure and press SHIFT+ENTER.
    To add text below a figure, select the figure and press ENTER.
  </div>
</div>
