.example-full-width {
  width: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 550px;
}

.section-editor-container {
  display: flexbox;
  padding: 30px;
}

.status-bar {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}
