<div class="login-box">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Welcome to IReNE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="warn" (click)="login()">
        Sign in with UPR Account
      </button>
    </mat-card-content>
  </mat-card>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
