<mat-card class="incident-date-row">
  <h3>Incident Date</h3>
  <div *ngIf="!editingIncidentDate">
    <h3>{{ incident_date | date: "MM/dd/yyyy" }}</h3>
  </div>
  <mat-form-field
    color="primary"
    class="example-full-width"
    *ngIf="editingIncidentDate"
  >
    <mat-label>Incident Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [max]="maxDateEnd"
      [readonly]="!editingIncidentDate"
      [formControl]="incidentDateControl"
    />
    <mat-datepicker-toggle
      [disabled]="!editingIncidentDate"
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="incidentDateControl.invalid">
      Unrecognized date format
    </mat-error>
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>
  <button
    *ngIf="!editingIncidentDate"
    mat-raised-button
    color="primary"
    matTooltip="Edit Incident Date"
    (click)="toggleEditingIncidentDate()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="editingIncidentDate"
    mat-raised-button
    color="accent"
    matTooltip="Save Incident Date"
    (click)="saveIncidentDate()"
  >
    <mat-icon>check</mat-icon>
  </button>
</mat-card>
<br />
<mat-divider></mat-divider>
<br />
<mat-card>
  <h3>Case Study Timeline</h3>

  <!--TIMELINE EDITORS-->
  <p>Identify up to 5 significant events on this case study.</p>

  <!--IF TIMELINE IS EMPTY SHOW MESSAGE-->
  <div *ngIf="timeline.length == 0 && !editingTimeline">
    <p>Timeline List is Empty. Press edit to add new events.</p>
  </div>

  <form [formGroup]="timelineForm">
    <div formArrayName="timeline">
      <div
        *ngFor="
          let timeEvent of timelineForm.get('timeline')['controls'];
          let i = index
        "
        class="timeline-container"
      >
        <div [formGroupName]="i">
          <mat-card class="timeline-card">
            <mat-form-field class="event-description">
              <mat-label>Event {{ i + 1 }} Description</mat-label>
              <textarea
                matInput
                [readonly]="!editingTimeline"
                formControlName="event"
                minlength="10"
                maxlength="100"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="6"
              ></textarea>
              <mat-hint *ngIf="editingTimeline"
                >Min 10 characters. Max 100 characters</mat-hint
              >
              <mat-error *ngIf="timelineForm.controls['timeline'].invalid">
                Event description must have at least 10 characters
              </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" class="example-full-width">
              <mat-label>Event Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [max]="timelineForm.value.timeline[i].eventEndDate"
                [readonly]="!editingTimeline"
                formControlName="eventStartDate"
                name="eventStartDate"
              />
              <mat-datepicker-toggle
                matSuffix
                *ngIf="editingTimeline"
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="editingTimeline">MM/DD/YYYY</mat-hint>
              <mat-error *ngIf="timelineForm.controls['timeline'].invalid">
                Unrecognized date format.
              </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" class="example-full-width">
              <mat-label>Event End Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                [min]="timelineForm.value.timeline[i].eventStartDate"
                [max]="maxDateEnd"
                [readonly]="!editingTimeline"
                formControlName="eventEndDate"
                name="eventEndDate"
              />
              <mat-datepicker-toggle
                matSuffix
                *ngIf="editingTimeline"
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint *ngIf="editingTimeline">MM/DD/YYYY</mat-hint>
              <mat-error *ngIf="timelineForm.controls['timeline'].invalid">
                Unrecognized date format or day has not happened yet.
              </mat-error>
            </mat-form-field>
            <button
              *ngIf="editingTimeline"
              (click)="removeTimelineEvent(i)"
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      mat-raised-button
      *ngIf="
        editingTimeline &&
        timelineForm.get('timeline')['controls'].length < TIMELINE_MAX
      "
      color="primary"
      type="button"
      (click)="addTimelineEvent()"
    >
      Add another timeline event
    </button>
  </div>
  <mat-card-actions>
    <div *ngIf="editingTimeline; else elseBlock">
      <button
        mat-raised-button
        color="accent"
        (click)="saveTimeline()"
        type="submit"
        [disabled]="timelineForm.invalid"
      >
        Save
      </button>
    </div>
    <ng-template #elseBlock>
      <button
        mat-raised-button
        color="primary"
        (click)="toggleEditingTimeline()"
      >
        Edit Timeline
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
